.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    background-size: cover;
    background-image: url("https://img.freepik.com/fotos-premium/textura-fondo-pared-cemento-color-blanco-liso-retro_42708-1324.jpg?w=2000");
}

.button {
    background: rgb(119, 28, 107);
    background: radial-gradient(circle, rgb(119, 43, 108) 0%, rgba(22, 7, 22, 0.169) 100%);
    position: absolute;
    border: 2px solid rgb(248, 248, 248);
    color: #f800ec;
    border-radius: 10px;
    font-size: 1.5em;
    width: 200px;
    height: 80px;
    margin-top: 20%;
    margin-left: -5%;
}

.button2:hover {
    cursor: pointer;
    background-color: aqua;
    border: 2px solid white;
    opacity: 95%;
    color: rgb(1, 253, 14);
}