.container {
    background-color: black;
}
.cards {
    background-color: black;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    height: 100%;
}

.loading {
    color: white;
}

select {
    background: rgb(119, 28, 107);
    background: radial-gradient(circle, rgb(119, 43, 108) 0%, rgba(22, 7, 22, 0.169) 100%);
    color: rgb(222, 5, 241);
    border: 2px solid violet;
    border-radius: 10px;
    font-family: Comic Sans MS;
    font-size: 1em;
    margin: 5px;
    margin-top: 10px;
}