.container {
    background-image: url('https://fondosmil.com/fondo/32052.jpg');
}

.cards {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    height: 100%;
}

.loading {
    background-image: none;
    min-height: 100vh;
    min-width: 100vw;
    color: white;
}

select {
    background: rgb(28, 0, 36);
    background: linear-gradient(90deg, rgba(28, 0, 36, 1) 0%, rgba(88, 9, 121, 1) 19%, rgba(255, 253, 253, 1) 100%);
    color: rgb(3, 0, 3);
    border: 2px solid violet;
    border-radius: 10px;
    font-family: Comic Sans MS;
    font-size: 1em;
    margin: 5px;
    margin-top: 10px;
}