.nav {
    display: flex;
    padding: 10px;
    border-radius: 15px;
    min-height: 10vh;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    background: rgb(119, 28, 107);
    background: radial-gradient(circle, rgb(119, 43, 108) 0%, rgba(22, 7, 22, 0.169) 100%);
    background-image: url("../../assets/nav-img.jpg");
}

.searchBar {
    margin-left: auto;
}

.home {
    cursor: pointer;
    font-size: 1em;
    height: 30px;
    width: 80px;
    color: rgb(235, 243, 235);
    background: rgb(162, 14, 149);
    background: radial-gradient(circle, rgba(162, 14, 149, 1) 0%, rgba(164, 15, 232, 0.16850490196078427) 100%);
    border-radius: .5em;
    transition: background-color .2s;
}


.home:hover {
    color: black;
    background: rgb(37, 241, 81);
    height: 35px;
    width: 85px;
}

.form {
    cursor: pointer;
    font-size: 1em;
    height: 30px;
    width: 80px;
    color: rgb(235, 243, 235);
    background: rgb(162, 14, 149);
    background: radial-gradient(circle, rgba(162, 14, 149, 1) 0%, rgba(164, 15, 232, 0.16850490196078427) 100%);
    border-radius: .5em;
    transition: background-color .2s;
}


.form:hover {
    color: black;
    background: rgb(37, 241, 81);
    height: 35px;
    width: 85px;
}